# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
env310/
venv/
.venv/

# IDE
.vscode/
.idea/

# Data and recordings
data/
raw_data/
recordings/
*.csv
*.xdf
*.edf
*.bdf

# Outputs
outputs/
logs/
*.log

# OS
Thumbs.db
.DS_Store

configs/*.local.json